.thing-form {
    margin: 20px 0;
}

#banner {
    background-color: #556B2F;
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

#search {
    font-size: 25px;
    color: white; 
}

#newsItems {
    font-size : 20px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.column1 {
    width: 20%;
    float:left;
}

.column2 {
    display: inline-block; 
    width: 40%; 
}

.column3 {
    width: 40%;
    float:right;
}
