<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/obetdarksearchbox.png" alt="obetImg">  

    <br><br><br>
    <label id="search">Enter your query to search the library here: </label> <br><br>
    <p class="input-group">
      <input type="text" class="form-control input-lg" id="input-lg" placeholder="Enter your query" ng-model="query">
      <span class="input-group-btn">
        <a id="search" href="/search"> <button class="btn btn-success btn-lg" ng-click="search()"> SEARCH </button> </a>
      </span>
    </p>
  </div>
</header>
 
 <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="newsItems">News Items:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
 </div>

<footer class="footer">
  <div class="container">
    Online Bibliography of Environmental Thought<br/>Queens College
  </a></p>
  </div>
</footer>
