<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	Enter search tags:
	<br/>
	<p class="input-group">
		<input type="text" class="form-control input-md" id="input-md" placeholder="Enter your query" ng-model="query">
		<span class="input-group-btn">
	    	<a id="search" href="/search"> <button class="btn btn-success btn-md" id="btn-md" ng-click="search()"> SEARCH </button> </a>
		</span>
   	</p>
</div>